.wrapper {
  margin: 2% auto;
  max-width: 90%;
  display: grid;
  grid-template-areas:
    "he he"
    "as co";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
